<div class="auth-container">
  <h2>Cadastro</h2>
  <p *ngIf="message" class="message">{{ message }}</p>

  <form (ngSubmit)="handleSubmit()">
    <input
      type="text"
      placeholder="Nome"
      [(ngModel)]="formData.name"
      name="name"
      required
    />
    <input
      type="email"
      placeholder="Email"
      [(ngModel)]="formData.email"
      name="email"
      required
    />
    <input
      type="password"
      placeholder="Senha"
      [(ngModel)]="formData.password"
      name="password"
      required
    />
    <input
      type="number"
      placeholder="Telefone"
      [(ngModel)]="formData.phoneNumber"
      name="phoneNumber"
      required
    />

    <button type="submit">Registre-se</button>
  </form>
  <p>Já criou sua conta?<a routerLink="/login" routerLinkActive="router-link-active" >Login</a></p>
</div>
